# Port number to run Express server
PORT=5000

# MongoDB Connection String (Mongoose URI)
# Local: mongodb://localhost:27017/tiffintrack
# Atlas: mongodb+srv://<username>:<password>@cluster0.mongodb.net/tiffintrack
MONGODB_URI=mongodb://127.0.0.1:27017/tiffintrack

# JWT secret key for signature verification
JWT_SECRET=super_secret_jwt_key_please_change_in_production_environments

# JWT expiration time (e.g. 1h, 1d, 7d)
JWT_EXPIRES_IN=1d

# Node environment mode (development, production, test)
NODE_ENV=development

# Allowed CORS client URL (React frontend origin)
CLIENT_URL=http://localhost:5175
PORT=5000

MONGODB_URI=mongodb+srv://tiffintrackadmin:tiffintrack06@tiffintrack-cluster.o3unx2a.mongodb.net/?appName=tiffintrack-cluster

JWT_SECRET=tiffintrack_super_secret
